.botao {
    border: 0px;
    border-radius: 10px;
    padding: 6px;
    width: fit-content;
    transition: background-color 0.5s ease;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
}

.botao:hover {
    background-color: #E90000;
}

.container {
color:#FFFFFF;
height: 400px;
width: auto;
background-image: url('/assets/cliente/banner.png');
background-size:auto;
background-attachment:cover;
background-position: center;
background-repeat: no-repeat;
padding: 30px;
display: flex;
flex-direction: column;
gap: 10px;
}

.container p {
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.container h1 {
    font-size: 40px;
}

.encontre {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}   

.escolha {
    font-size: 24px;
    gap:10px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.escolha h1 {
    font-size: 40px;
}

.funciona {
    gap: 50px;
    margin-top: 20px;
}

.cards {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.funciona h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.funciona button {
   justify-content: center;
}

.retangulo {
   width: 200px;
    height: 25px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.texto {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 20px;
}

.lista {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.bolinha {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
  margin-bottom: 10px;
}

.depoimentos {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 40px;
    align-items: center;
}

.depoimentos h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.avaliacao {
    margin-right: auto;
    margin-left: auto;
}

.suporte {
    display: flex;
    padding: 10px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.suporte h1 {
    gap:10px;
    font-size: 40px;
    padding-top: 20px;
}

.suporte p {
    font-size: 16px;
    gap:10px;
}

.mulher {
    width: 500px;
    height: 500px;
}