.main {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-radius: 10px;
  width: 100%;
  height: 70vh;
  background-image: url("/assets/prestador/banner1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.bannerContent {
  margin-left: -50vw;
}

.bannerContent h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bannerContent p {
  font-size: 25px;
  margin-bottom: 20px;
}

.ctaButtonRed {
  display: none;
}

.solution {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 90px;
  width: 100%;
}

.solutionText h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
  line-height: 60px;
}
.solutionText span {
  font-size: 20px;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}
.solutionText p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #000;
  margin-top: 20px;
}

.howItWorks {
  text-align: center;
  width: 100%;

  & .howItWorksImage {
    margin-left: 20vw;
  }
}

.linha {
  background-color: #e50914;
  width: 300px;
  height: 10px;
  border-radius: 10px;
  margin-left: 40.7vw;
  margin-top: -30px;
}

.howItWorks h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #000;
  font-weight: bold;
}

.howItWorksImage {
  margin-left: 20vw;
  margin-bottom: 100px;
  margin-top: 100px;
}

.howItWorksSteps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.benefits {
  text-align: center;
  padding: 50px;
  width: 100%;
  margin-top: 90px;

  & .linha {
    margin-left: 37vw;
    margin-bottom: 120px;
  }
}

.benefits h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #000;
  font-weight: bold;
}

.benefitsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  width: 100%;
  margin: 20px 0;
  padding: 0 40px;
}

.benefitCard {
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .IconBeneficios {
    margin-left: 90px;
  }
}

.benefitCard h3 {
  font-weight: bold;
  font-size: 23px;
}

.benefitCard img {
  margin-bottom: 15px;
}

.testimonials {
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
  width: 100%;

  & .linha {
    margin-left: 37.5vw;
  }

  & .cardDepoimentos {
    margin-top: 120px;
    margin-left: 16vw;
  }
}

.testimonials h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #000;
  font-weight: bold;
}

.support {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  width: 100%;
  margin-bottom: 2rem;
}

.supportText {
  margin-left: 80px;
  & h2 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
  }

  & h4 {
    font-size: 30px;
    font-weight: 560;
    margin-bottom: 30px;
  }

  & p {
    padding-right: 50px;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
